/* подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primari-hero-color);
}
.foot {
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}
.footer-box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
  }
}

/* адрес */
.footer-address {
  @media screen and(min-width:768px) {
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address__item:nth-child(-n + 2) {
  margin-bottom: 9px;
}
.address__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address__color {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
