.header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  background-color: var(--primari-bg-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}


.navigation__list {
  display: block;
  text-align: start;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navigation__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
  }
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.navigation__link--current {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    &.navigation__link--current:after {
      position: absolute;
      left: 0;
      bottom: -33px;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}



/* контакты телефон почта */
.contakts-block {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.contakts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;

    // @include centerflex();
  }
}
.contakts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
}


.contakts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;

  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    justify-content: start;
    .contakts__item:first-child & {
      font-size: 24px;
      line-height: 1.18;
      margin-bottom: 44px;
    }
    .contakts__item:last-child & {
      font-size: 34px;
      line-height: 1.18;
      margin-bottom: 32px;
      color: var(--accent-color);
    }
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contakts__icon {
  fill: currentColor;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
