:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #000000;
  --primari-bg-color: #ffffff;
  --primari-hero-color: #2f303a;
  --section-team-button: #f5f4fa;
  --project-gap: 30px;
  --icon-background: #afb1b8;
}
